{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["./node_modules/prettier-plugin-tailwindcss/dist/index.mjs"],
  "tailwindStylesheet": "./app/globals.css"
}
